<ion-view title="{{$root.navLogo}}" class="dash" right-buttons="bla">
  <ion-content class="dashboard">

    <div ng-if="vm.newReleases.length" class="new-releases-slider">
      <h3>{{'DASHBOARD.NEW_RELEASES' | translate}}</h3>


      <div owl-carousel="vm.newReleases" owl-options="vm.highlightCarouselOptions">
        <div class="new-releases-slide">
          <img class="poster-image" ng-src="https://image.tmdb.org/t/p/w342/{{item.media.poster_path}}" class="pull-left">
          <div class="image-background" style="background-image: url('https://image.tmdb.org/t/p/w1280/{{item.media.backdrop_path}}')">
            <i class="info-icon ion-ios-information" ng-click="showDetails(item.media)"></i>
            <div class="new-release-footer">
              <a class="play-icon ion-ios-play" ui-sref="player({videoId: item.videoToPlayId})"></a>
              <div class="new-releases-description">
                <h3>
                  {{item.media.title || item.media.name}}
                  <span ng-if="item.media.release_date">({{item.media.release_date.substring(0,4)}})</span>
                </h3>
                <h4>{{item.description}}</h4>
                <p>{{item.media.overview}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h3>{{'DASHBOARD.CONTINUE_WATCHING' | translate}}</h3>
    <div owl-carousel="vm.continueWatchingList" owl-options="vm.carouselOptions">
      <streama-media-continue-watching-item item="item"></streama-media-continue-watching-item>
    </div>

    <h3>{{'DASHBOARD.RECOMMENDATIONS' | translate}}</h3>
    <div owl-carousel="vm.recommendations" owl-options="vm.carouselOptions">
      <streama-media-item item="item"></streama-media-item>
    </div>

    <h3>{{'DASHBOARD.DISCOVER_SHOWS' | translate}}</h3>
    <div owl-carousel="vm.shows" owl-options="vm.carouselOptions">
      <streama-media-item item="item"></streama-media-item>
    </div>


    <h3>{{'DASHBOARD.DISCOVER_MOVIES' | translate}}</h3>
    <div owl-carousel="vm.movies" owl-options="vm.carouselOptions">
      <streama-media-item item="item"></streama-media-item>
    </div>


    <h3>{{'DASHBOARD.DISCOVER_OTHER_VIDEOS' | translate}}</h3>
    <div owl-carousel="vm.genericVideos" owl-options="vm.carouselOptions">
      <streama-media-item item="item"></streama-media-item>
    </div>

  </ion-content>
</ion-view>
