.media-detail{

  .icon-play{
    font-size: 48px;
    line-height: 1em;
    background: #B0DDEF;
    width: 1em;
    display: inline-block;
    border-radius: 2em;
    color: #25292b;
    text-align: center;
    text-indent: 3px;
    box-shadow: 0 0 0 8px rgba(176, 221, 239, 0.21);
    margin: 8px;
  }

  .info-list{
    margin: 0;
    padding: 0;

    li{
      list-style: none;

      strong{
        margin-right: 6px;
        min-width: 86px;
        display: inline-block;
      }
    }
  }

  .media-detail-play-wrapper{
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 7px;
    text-align: center;
  }

  .overview-text{
    font-size: 14px;
  }

  .media-list-item.episode-wrapper{
    margin-bottom: 0px;
    margin-right: 9px;
  }

  .media-detail-poster{

  }

  h2{
    font-size: 18px;
  }

  .season-picker-item{
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #ffffff63;
    padding: 2px 11px;
    border-radius: 18px;

    &.active{
      background: $primary;
      color: black;
    }
  }
}

.media-detail-episode-item{
  border-bottom: 1px solid #3e3e3e;
  margin-bottom: 16px;

  .media-detail-episode-image-wrapper{
    @include flex-wrap(wrap);

    .media-detail-episode-still{
      @include flex(1 0 110px);
    }

    .media-detail-episode-play-button{
      padding: 8px;
    }

  }
  .play-icon{
    display: inline-block;
    background: transparent;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.18);
  }
}
